*{
    margin: 0;
    padding: 0;
}
/* top header part  */
.top-header{
    
background: #efefef;
    
padding: 4px 0;
}
.top-header p{
    
}
.top-header ul{
    
display: flex;
    
list-style: none;
    
justify-content: space-between;
}
.top-header ul li{

}
.top-header ul li a{
    
color: #626262;
    
text-decoration: none;
    
text-transform: uppercase;
    
margin: 0;
    
font-size: 13px;
}
/* topm header end  */


/* navbar part start  */

.navbar-nav{

}
.navbar-nav .nav-item{
    
padding: 0;
}
.navbar-nav .nav-item .nav-link{
    
padding: 0;
    
margin: 0;
    
text-transform: uppercase;
    
font-size: 14px;
  position: relative;  
margin-left: 20px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #f78f2f;
}
.navbar-nav .nav-item .nav-link::after{
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    background: #f78f2f;
    transition: .4s all ease-in-out;
}
.navbar-nav .nav-item .nav-link::before{
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0%;
    background: #f78f2f;
    transition: .4s all ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover::after{
    width: 45%;
}
.navbar-nav .nav-item .nav-link:hover::before{
    width: 45%;
}
.btn_join ,.Large_btn_join{

padding: 0;

padding:  5px 20px;

background: #f78f2f;

margin-left: 12px;

border-radius: 30px;

color: #fff;

text-transform: uppercase;

font-size: 12px;
}
.btn_join:hover{
    color: #fff;
    background: #d46701e0;
}
.btn_join,.Large_btn_join:hover{
    background: #f78f2f;
    color: #fff;
}
.Large_btn_join{
    display: none;
}
/* banner part start  */
.banner{
background-image: url(../img/banner.png);    
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.hg{min-height: 60vh;text-align: center;align-items: center;}
h1{
    
color: #fff;
}
.count{
    
color: #fff;
    
display: flex;
    
margin-top: 36px;
    
justify-content: space-between;
}
.count_item{width: 20%;}
.count_item h5{

}
.count_item h6{

}
.join_us{

color: #fff;

margin-top: 40px;

padding: 0;

padding: 8px 30px;

background: #f78f2f;

text-transform: uppercase;

border-radius: 40px;

font-size: 12px;
}
.join_us:hover{
    color: #fff;
    background: #a35b17bb; 
}
.contact_us{
color: #fff;
margin-top: 40px;
padding: 0;
padding: 8px 18px;
text-transform: uppercase;
border-radius: 40px;
font-size: 12px;
border: 1px solid #cec8c466;
margin-left: 15px;
}
.contact_us:hover{
    background-color:#F78F2F;
    color: #fff;
    border: 1px solid #F78F2F;
}
<!-- Instraction part start here -->
.instraction{

}
.instraction_item{

    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 15px;
    transition: .4s all ease-in-out;
    position: relative;
    z-index: 0;
    border: 1px solid #979797;
    border-radius: 3px;
 
}

.instraction_item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cca206+0,e06202+100&0.85+0,0.85+100 */
background: -moz-linear-gradient(top,  rgba(204,162,6,0.85) 0%, rgba(224,98,2,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(204,162,6,0.85) 0%,rgba(224,98,2,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(204,162,6,0.85) 0%,rgba(224,98,2,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9cca206', endColorstr='#d9e06202',GradientType=0 ); /* IE6-9 */

}




.instraction_item:hover{
    background-image: url(../img/bitcoin.png);
    background-position: center;
    cursor: pointer;
    border: 1px solid #F78F2F;
  

}
.instraction_item:hover::before{
    width: 100%;
    height: 100%;
}
.instraction_item h3{
    padding: 30px 0px;
}
.instraction_item p{

}
.instraction_item i{
    font-size: 40px;

}
.instraction_item:hover i{
    color: #fff;

}
.instraction_item:hover h3{
    color: #fff;
   

}
.instraction_item:hover p{
    color: #fff;

}
<!-- Instraction part start here -->

/* service we provied */
.provied{

}
.content{
margin: auto;
text-align: center;
color: #000;
}
.content h1{
font-family: 'Raleway', sans-serif;
color: #000;

font-size: 40px;

text-transform: uppercase;
}
.content p{

margin-top: 10px;
}

.content span{
    display: block;
    height: 2px;
    width: 50px;
    background: #F78F2F;
    margin: auto;
}
.icon{

width: 47%;

margin: auto;
}
.icon img{

width: 50%;

margin-bottom: 15px;
}
.con{

text-align: center;

width: 24%;

margin-left: 100px;
}
.con h6{

font-size: 25px;
}
.con p{

margin-top: 13px;
}
.more{
text-align: center;

}
.view-more:hover{
  color: #fff;
  background: #F78F2F;
}
.view-more{
    border: 1px solid black;
    color: rgb(0, 0, 0);  
    background: transparent;

    
margin-top: 40px;

padding: 0;

padding: 8px 30px;


text-transform: uppercase;

border-radius: 40px;

font-size: 12px;
}